node_modules/
.idea/*
assets/css/*
assets/maps/*

Thumbs.db
ehthumbs.db
ehthumbs_vista.db

Desktop.ini

$RECYCLE.BIN/

# Dependency directories

.DS_Store
.AppleDouble
.LSOverride

Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

.directory

.Trash-*

