@import "bootstrap";
@import "fontAwesome";

* {
    font-size: 12px;
    line-height: 1.1em;
}

html {
    height: 100%;
}
html, body {
    margin: 0 auto;
    font-family: sans-serif;
    box-sizing: border-box;
    padding: 0;
    background: #535a6e;
    color: #fff;
}

body {
    position: relative;
    padding-bottom: 50px;
    min-height: 100%;
}

header {
    padding: 20px 20px 0;

    h1 {
        text-align: center;
        font-weight: bold;
        text-shadow: #ff4624 0 -2px 4px;
    }
}

footer.app-footer {
    text-align: center;
    background: #212121;
    color: #ffffff;
    width: 100%;
    padding: 10px;
    position: absolute;
    bottom: 0;
    box-sizing: border-box;

    p {
        padding: 0;
        margin: 0;
    }
}

@keyframes fa-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.modal {
    color: #181818;
}

.delete {
    @include fa($fa-remove, #fff, 12px);
}

.loader {
    @include fa($fa-spinner, #fff, 22px);
    animation: fa-spin 1.1s infinite linear;
}

.hide {
    display: none;
}